<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Story 6</title>

  </head>

  <body>
      <br>
      <h class="font-weight-bold" style="font-size: 5vh; margin-left: 8.7%;">Hello, how are you?</h>
      <form method="post" action="{% url 'homepage:index' %}">
        {% csrf_token %}
        <div style="margin-left: 10px; margin-right: 10px;">
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <input id="submitBtn" type="submit" class="btn btn-secondary" style="margin-left: 8.7%;" value="Add">
        </div>
      </form>

      <br><br>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col">
            <h class="font-weight-bold" style="font-size: 5vh;">Status list</h>
          </div>
        </div>
      </div>
      <br>
      <table id="statustable" class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for i in statusList %}
            <tr class="table-info">
              <td class="table-info">{{ i.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>